Repository akrisanov/docstring-verifier: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, python

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # Allow 1% decrease
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

# Separate coverage for different parts
flags:
  typescript:
    paths:
      - src/
    carryforward: true
  python:
    paths:
      - tools/python/
    carryforward: true

# Ignore paths
ignore:
  - "dist"
  - "out"
  - "node_modules"
  - "*.test.ts"
  - "**/*.test.ts"
  - "src/test/**"
  - "tools/python/tests/**"
  - "**/__pycache__/**"

# Comment on PR with coverage report
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false # Don't require baseline for first PR

feat: implement Google-style docstring parser with IDocstringParser interface
  docs/MVP.md
  src/docstring/base.ts
  src/docstring/python/googleParser.ts
  src/docstring/python/index.ts
  src/test/suite/docstring/googleParser.test.ts
Due: typescript

feat: integrate PythonParser with GoogleDocstringParser
  README.md
  docs/MVP.md
  docs/day2.png
  src/extension.ts
Due: typescript

refactor: introduce analyzer architecture for validation
  src/analyzers/base.ts
  src/analyzers/python/index.ts
  src/analyzers/python/signatureAnalyzer.ts
  src/diagnostics/factory.ts
  src/extension.ts
Due: typescript

fix: resolve Codecov unusable report error
  .codecov.yml
  .github/workflows/ci.yml
  .vscode-test.mjs
  README.md
  package.json
  scripts/fix-lcov-paths.js
  scripts/validate-coverage.js
Due: none

feat: implement Signature Analyzer checks (DSV101-DSV104)
  docs/MVP.md
  examples/python/README.md
  examples/python/dsv101_missing_in_code.py
  examples/python/dsv102_missing_in_docstring.py
  examples/python/dsv103_type_mismatch.py
  examples/python/dsv104_optional_mismatch.py
  examples/python/dsv201_return_mismatch.py
  examples/python/dsv301_missing_exception.py
  src/analyzers/python/signatureAnalyzer.ts
  src/diagnostics/factory.ts
  src/docstring/python/googleParser.ts
  src/docstring/types.ts
  src/parsers/python/pythonExecutor.ts
  src/test/extension.test.ts
  src/test/suite/analyzers/signatureAnalyzer.test.ts
  src/test/suite/docstring/googleParser.test.ts
  src/test/suite/parsers/pythonExecutor.test.ts
  src/test/suite/parsers/pythonParser.test.ts
  tools/python/tests/fixtures/__init__.py
  tools/python/tests/fixtures/test_sample.py
Due: typescript

fix: failing tests
  .github/workflows/ci.yml
  tools/python/tests/test_ast_extractor.py
Due: none

feat: implement DSV201: Return type mismatch analyzer
  docs/MVP.md
  examples/python/dsv201_return_mismatch.py
  src/analyzers/python/index.ts
  src/analyzers/python/returnAnalyzer.ts
  src/analyzers/python/signatureAnalyzer.ts
  src/analyzers/python/typeNormalizer.ts
  src/diagnostics/factory.ts
  src/extension.ts
  src/test/suite/analyzers/returnAnalyzer.test.ts
  src/test/suite/analyzers/typeNormalizer.test.ts
Due: typescript

refactor: create helper functions to DRY tests
  src/test/suite/analyzers/returnAnalyzer.test.ts
  src/test/suite/analyzers/signatureAnalyzer.test.ts
  src/test/suite/analyzers/testUtils.ts
Due: none

feat: implement DSV202: Missing return in docstring analyzer
  docs/MVP.md
  examples/python/README.md
  examples/python/dsv202_missing_return.py
  src/analyzers/python/returnAnalyzer.ts
  src/diagnostics/factory.ts
  src/test/suite/analyzers/returnAnalyzer.test.ts
Due: typescript

feat: implement DSV203: Docstring says returns, but function is void analyzer
  docs/MVP.md
  examples/python/dsv203_void_but_documented.py
  src/analyzers/python/returnAnalyzer.ts
  src/diagnostics/factory.ts
  src/test/suite/analyzers/returnAnalyzer.test.ts
Due: typescript

feat: multiple return and generators support
  README.md
  docs/Design.md
  docs/MVP.md
  docs/day3.png
  examples/python/README.md
  examples/python/dsv204_multiple_returns.py
  examples/python/dsv205_generator_returns.py
  src/analyzers/python/returnAnalyzer.ts
  src/diagnostics/factory.ts
  src/diagnostics/types.ts
  src/parsers/python/mockParser.ts
  src/parsers/python/pythonParser.ts
  src/parsers/types.ts
  src/test/suite/analyzers/returnAnalyzer.test.ts
  src/test/suite/analyzers/testUtils.ts
  tools/python/ast_extractor.py
  tools/python/tests/test_ast_extractor.py
Due: typescript, python

feat: implement exception analyzers
  README.md
  docs/MVP.md
  examples/python/README.md
  examples/python/dsv302_exception_not_raised.py
  src/analyzers/python/exceptionAnalyzer.ts
  src/analyzers/python/index.ts
  src/diagnostics/factory.ts
  src/extension.ts
  src/test/suite/analyzers/exceptionAnalyzer.test.ts
  src/test/suite/analyzers/testUtils.ts
Due: typescript

feat: add URI of the document being analyzed
  docs/MVP.md
  src/analyzers/base.ts
  src/analyzers/python/exceptionAnalyzer.ts
  src/analyzers/python/returnAnalyzer.ts
  src/analyzers/python/signatureAnalyzer.ts
  src/diagnostics/factory.ts
  src/extension.ts
  src/test/suite/analyzers/exceptionAnalyzer.test.ts
  src/test/suite/analyzers/missingParameters.test.ts
  src/test/suite/analyzers/returnAnalyzer.test.ts
  src/test/suite/analyzers/signatureAnalyzer.test.ts
  src/test/suite/analyzers/testUtils.ts
Due: typescript

feat: implement docstring style auto-detection and comprehensive settings
  README.md
  docs/MVP.md
  package.json
  src/docstring/python/index.ts
  src/docstring/python/styleDetector.ts
  src/extension.ts
  src/parsers/base.ts
  src/parsers/python/pythonExecutor.ts
  src/parsers/python/pythonParser.ts
  src/test/suite/docstring/python/googleParser.test.ts
  src/test/suite/docstring/python/styleDetector.test.ts
  src/utils/config.ts
  src/utils/logger.ts
Due: typescript

feat: implement side effects analyzer based on basic heuristic
  README.md
  docs/MVP.md
  examples/python/README.md
  examples/python/dsv401_side_effects.py
  src/analyzers/python/index.ts
  src/analyzers/python/sideEffectsAnalyzer.ts
  src/diagnostics/factory.ts
  src/extension.ts
  src/test/suite/analyzers/sideEffectsAnalyzer.test.ts
  tools/python/tests/test_ast_extractor.py
Due: typescript

feat: support Sphinx docstrings
  README.md
  docs/MVP.md
  examples/python/README.md
  examples/python/sphinx_style.py
  examples/python/sphinx_validation_test.py
  src/docstring/python/index.ts
  src/docstring/python/sphinxParser.ts
  src/extension.ts
  src/test/suite/docstring/python/sphinxParser.test.ts
Due: typescript

refactor: add multi-language support and extensibility
  .gitignore
  docs/Design.md
  src/extension.ts
  src/languages/index.ts
  src/languages/python/factory.ts
  src/languages/python/index.ts
  src/languages/registry.ts
  src/languages/types.ts
Due: typescript

feat: implement code action provider infrastructure for Quick Fixes
  docs/MVP.md
  src/analyzers/.keep
  src/codeActions/.keep
  src/codeActions/fixes/parameterFixes.ts
  src/codeActions/index.ts
  src/codeActions/provider.ts
  src/codeActions/types.ts
  src/extension.ts
  src/test/suite/codeActions/provider.test.ts
Due: typescript

refactor: cleanup tests and add editor implementation
  README.md
  docs/Design.md
  docs/MVP.md
  src/editors/base.ts
  src/editors/index.ts
  src/editors/python/googleEditor.ts
  src/editors/python/index.ts
  src/editors/registry.ts
  src/editors/types.ts
  src/test/suite/editors/python/googleEditor.test.ts
  src/test/suite/editors/registry.test.ts
Due: typescript

feat: Quick Fixes: Parameter fixes (DSV101-104)
  README.md
  docs/Design.md
  docs/MVP.md
  docs/day5.png
  src/codeActions/fixes/parameterFixes.ts
  src/codeActions/provider.ts
  src/codeActions/utils/docstringUtils.ts
  src/editors/python/googleEditor.ts
  src/extension.ts
  src/test/suite/codeActions/provider.test.ts
Due: typescript

feat: add LLM support and integrate GitHub Copilot
  README.md
  package.json
  src/codeActions/commands/applyQuickFix.ts
  src/codeActions/commands/enhanceDescription.ts
  src/codeActions/commands/index.ts
  src/codeActions/fixes/parameterFixes.ts
  src/codeActions/utils/docstringUtils.ts
  src/editors/base.ts
  src/editors/python/googleEditor.ts
  src/extension.ts
  src/extension/configurationHandler.ts
  src/extension/documentEventHandler.ts
  src/extension/index.ts
  src/llm/base.ts
  src/llm/index.ts
  src/llm/providers/githubCopilot.ts
  src/llm/types.ts
  src/test/editors/googleEditor.test.ts
  src/test/suite/codeActions/docstringUtils.test.ts
  src/test/suite/codeActions/enhanceDescription.test.ts
  src/test/suite/codeActions/parameterFixes.test.ts
  src/test/suite/diagnostics/factory.test.ts
  src/test/suite/llm/githubCopilot.test.ts
  src/test/suite/utils/lruCache.test.ts
  src/utils/config.ts
  src/utils/lruCache.ts
Due: typescript

feat: show diagnostic issues in the status bar
  docs/Design.md
  docs/MVP.md
  src/extension.ts
  src/statusBar.ts
  src/test/suite/statusBar.test.ts
Due: typescript

docs: update README
  README.md
Due: none

docs: update the high-level architecture diagram
  README.md
Due: none

fix: GitHub Copilot integration
  README.md
  src/codeActions/commands/applyQuickFix.ts
  src/codeActions/fixes/parameterFixes.ts
  src/extension.ts
  src/llm/providers/githubCopilot.ts
  src/test/suite/codeActions/parameterFixes.test.ts
Due: typescript

Add introduction video link to README
  README.md
Due: none

Add a thumbnail for the Introduction video
  README.md
Due: none

Change demo video link to Loom
  README.md
Due: none
